@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: #F7E39C;
  text-align: center;
  margin: 0;
}

.content {
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
}

p {
  line-height: 1.6;
  font-size: 1.2em;
}

button {
  font-family: "Press Start 2P", sans-serif;
  background-color: #D13325;
  color: #F7E39C;
  border: none;
  font-size: medium;
  padding: 15px;
  cursor: pointer;

}

button:hover {
  background-color: #D13325;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.title {
  margin: 40px 0;
}

.description {
  margin: 0 0 30px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  background-color: #D13325;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #F7E39C;
  margin: 0 4px;
}

nav a:hover {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0px;
  background-color: #F7E39C;
  text-align: center;
  padding: 0;
  font-size: 11px;
 }

 .icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 5px;
 }

 .p-footer {
  margin-right: 15px;
 }

 .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .containerPokedex {
  display: grid;
  grid-template-columns: repeat(5, auto); /* 3 columns */
  gap: 60px; /* Space between grid items */
  padding: 0; /* Remove default padding */
  max-width: 100%; /* Allow full width */
  margin: 0 auto;
  position: relative; /* Position relative for absolute children */
  list-style-type: none; /* Remove default list styling */
  right: 22vw;
}

.containerPokedex li {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  padding: 10px; /* Add padding around each item */
}

.soundButton {
  font-family: "Press Start 2P", sans-serif;
  background-color: #D13325;
  color: #F7E39C;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  margin: 20px 40px;
}

.soundButton:hover {
  background-color: #D13325;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.popup-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background: #F7E39C;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.pikachu-home {
  width: 100%;
}

.cover-home {
  width: 71%;
}

@media (max-width: 600px) {                    /* modo portrait */
nav {
  gap: 20px;
}
.content {
  height: 90vh !important;
}
.pikachu-home {
  width: 80%;
  margin-top: 8px;
}
.cover-home {
  width: 71%;
}
.title {
  font-size: 1.6em !important;
}
.description {
  font-size: 1.15em !important;
}
.icon {
  width: 15px;
  height: 15px;
  position: relative !important;
  right: 10px !important;
  bottom: 2px !important;
}
.p-footer {
  font-size: 0.5em;
  position: relative !important;
  left: 10px !important;
  bottom: 2px !important;
}
.popup {
  font-size: 0.6em !important;
  width: 80vw !important;
}
.popup h1 {
  margin-bottom: 20px !important;
}
.popup button{
  font-size: 0.9em !important;
  padding: 10px !important;
  margin-top: 10px !important;
}
.soundButton {
  padding: 10px;
  font-size: 0.8em;
  margin: 20px 40px;
}
.containerPokedex {
  grid-template-columns: repeat(1, auto); 
  gap: 0;
  padding: 0; 
  max-width: 100%; 
  margin: 0 auto;
  position: relative; 
  list-style-type: none; 
  right: 0vw;
}
.pokemon-card {
    padding: 10px 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokemon-container {
  height: 100vh !important;
}
.pokemon-sprite {
    max-width: 300px !important;
    width: 200px !important;
}
.pokeText {
    font-size: 1.1em !important;
    margin-top: 60px;
    
}
.pokeName {
    font-size: 1.6em !important;
    margin-top: 60px;
    margin-bottom: 40px;
}
.pokeNumber {
    font-size: 1.2em !important;
    margin-top: 60px;
    margin-bottom: 40px;
}
.top-title {
  font-size: 1.8em !important;
}
.top-subtitle {
  font-size: 1.2em !important;
}
.top-input {
  font-size: 1em !important;
  width: 80vw !important;
}
.pokedex-gif {
  width: 80% !important;
  margin-top: 40px;
}
.containerSearch {
  display: grid;
  grid-template-columns: repeat(1, auto) !important; 
  gap: 10px !important; 
  padding: 0; 
  max-width: 100%; 
  margin: 0 auto;
  position: relative; 
  list-style-type: none; 
  right: 0vw;
}
}

@media (max-width: 1200px) and (max-height: 500px) {          /* modo landscape */
.containerPokedex {
  display: grid;
  grid-template-columns: repeat(3, auto); 
  gap: 60px; 
  padding: 0; 
  max-width: 100%; 
  margin: 0 auto;
  position: relative; 
  list-style-type: none; 
  right: 180px;
}
}