.pokemon-card {
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pokemon-card:hover {
    transform: scale(1.20);
    transition: transform 0.2s;
  }
  
  .pokemon-card img {
    max-width: 250px;
    margin-bottom: -20px;
    width: 200px;
  }
  
  .pokemon-card h2 {
    font-size: medium;
  }

  