.pokemon-sprite {
    max-width: 500px;
    margin-bottom: 0px;
    width: 200px;
}

.pokeText {
    font-size: 20px;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    margin-top: 40px;
    
}

.pokeName {
    font-size: 25px;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bolder;
}

.pokeNumber {
    font-size: 20px;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bolder;
}

