img {
    max-width: 500px;
    margin-bottom: -20px;
    width: 300px;
}

.pokeText {
    font-size: 25px;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    margin-top: 60px;
    
}

.pokeName {
    font-size: 40px;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bolder;
}