input {
    font-family: "Press Start 2P", sans-serif;
  }

ul li {
  list-style: none;
  margin-top: 50px;
  position: relative;
  right: 20px;
}

.containerSearch {
  display: grid;
  grid-template-columns: repeat(5, auto); /* 3 columns */
  gap: 60px; /* Space between grid items */
  padding: 0; /* Remove default padding */
  max-width: 100%; /* Allow full width */
  margin: 0 auto;
  position: relative; /* Position relative for absolute children */
  list-style-type: none; /* Remove default list styling */
  right: 20vw;
}

.containerSearch li {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  padding: 10px; /* Add padding around each item */
}

.top-title {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bolder;
}

.top-input {
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px 5px;
}


@media (max-width: 600px) {                    /* modo portrait */
  .containerSearch {
  display: grid;
  grid-template-columns: repeat(1, auto); /* 3 columns */
  gap: 60px; /* Space between grid items */
  padding: 0; /* Remove default padding */
  max-width: 100%; /* Allow full width */
  margin: 0 auto;
  position: relative; /* Position relative for absolute children */
  list-style-type: none; /* Remove default list styling */
  right: 0vw;
}
}

@media (max-width: 1200px) and (max-height: 500px) {          /* modo landscape */
  .containerSearch {
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 columns */
  gap: 60px; /* Space between grid items */
  padding: 0; /* Remove default padding */
  max-width: 100%; /* Allow full width */
  margin: 0 auto;
  position: relative; /* Position relative for absolute children */
  list-style-type: none; /* Remove default list styling */
  right: 180px;
}
}