input {
    font-family: "Press Start 2P", sans-serif;
  }

ul li {
  list-style: none;
  margin-top: 50px;
  position: relative;
  right: 20px;
}

.containerSearch {
  display: grid;
  grid-template-columns: repeat(5, auto); 
  text-align: center;
  gap: 60px; 
  padding: 0; 
  max-width: 100%; 
  margin: 0 auto;
  position: relative; 
  list-style-type: none; 
  right: 460px;
  margin-bottom: 80px;
}

.containerSearch li {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  padding: 10px; /* Add padding around each item */
}

.top-title {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bolder;
}

.top-subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.top-input {
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px 5px;
}

.pokedex-gif {
  width: 60%;
  margin-top: -20px;
}
